.Title {
  background-color: #435996;
  color: white;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}