.Recipe {
  background-color: #ffff;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
  padding-bottom: 0.5em;
}

.Recipe figure {
  width: 100%;
}

.Recipe figure img {
  width: 100%;
  height: 250px;
}

.Recipe p {
  line-height: 25px;
}

.Recipe p {
  margin: 0 0.5em;
}

.Recipe-Title, .Recipe-Publisher span {
  font-weight: bold;
}

.Recipe-Title {
  color: #fd4141;
}

.Recipe-Publisher {
  letter-spacing: 0.5px;
}

.Recipe-Detail {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.Recipe-Detail a {
  border: 1px solid #fd4141;
  padding: 0.5em;
  border-radius: 10px;
  text-decoration: none;
  color: #fd4141;
}