.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.Search input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #435996;
}

.Search input:focus {
  outline: none;
}

.Search input::placeholder {
  color: #8d8d8d;
  text-align: center;
}

.Search button {
  background-color: #435996;
  border: none;
  border-radius: 5px;
  color: white;
}

.Search button:focus {
  outline: none;
}